[Desktop Entry]
Type=Application
X-Sailfish-ApplicationType=Silica
Icon=harbour-etoro
Exec=harbour-etoro
Name=eToro Client
Comment=Sailfish OS client for eToro portfolio, watchlists and trading


[X-Sailjail]
Sandboxing=Disabled
